<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="input-box my-5 p-5 rounded-lg h-100">
                <h2 class="text-center">로그인</h2>
                <input type="text" placeholder="아이디" id="id" class="form-control mt-4">
                <input type="password" id="password" placeholder="비밀번호" class="form-control mt-2">
                <button type="button" id="login-btn" class="btn btn-secondary btn-block mt-3">가입</button>
                <a class="d-flex justify-content-center mt-3" href="/user/join-view">회원가입</a>
            </div>
        </section>
        
        <script layout:fragment="script">
        	$(document).ready(function()
        	{
        		$("#login-btn").on("click", function()
        		{
        			let id = $("#id").val()
        			let password = $("#password").val();
        			
        			if(id == "")
        			{
        				alert("ID를 입력해주세요.");
        				return;
        			}
        			else if(password == "")
        			{
        				alert("Password를 입력해주세요.");
        				return;
        			}
        			
        			$.ajax
        			({
        				type:"post", // 메소드의 Request형식은 post이다
        				url:"/user/login", //경로는 /user/login이다
        				data:{"loginId":id, "password":password}, //매개변수는 loginId와 password이다 그리고 그 매개변수에다가 프론트엔드에서 입력을 받은 값을 대입한다.
        				success:function(data)
        				{
        					if(data.result == "success")
        					{
        						location.href="/post/list-view";
        					}
        					else
        					{
        						alert("로그인 실패");
        					}
        				}
        				,error:function()
        				{
        					alert("로그인 에러");
        				}
        			});
        		});
        	});
        	
        </script>
</html>